.u-section-1 .u-sheet-1 {
  min-height: 349px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  filter: none;
  font-weight: 300;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 12px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1060px;
  margin: 30px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 180px;
  --gap: 10px;
}

.u-section-1 .u-list-item-1 {
  --radius: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  --radius: 10px;
  margin: 0 auto 0 30px;
  padding: 15px;
}

.u-section-1 .u-group-1 {
  width: 222px;
  min-height: 104px;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-2 {
  --radius: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  --radius: 10px;
  margin: 0 auto 0 30px;
  padding: 15px;
}

.u-section-1 .u-group-2 {
  width: 222px;
  min-height: 104px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-3 {
  --radius: 10px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  --radius: 10px;
  margin: 0 auto 0 30px;
  padding: 15px;
}

.u-section-1 .u-group-3 {
  width: 222px;
  min-height: 104px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 160px;
    grid-gap: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 472px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 240px;
    min-height: 210px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 22px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 240px;
    min-height: 210px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 22px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 240px;
    min-height: 210px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 445px;
    min-height: 132px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 445px;
    min-height: 132px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-3 {
    width: 445px;
    min-height: 132px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 380px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1058px;
  margin: 30px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 316px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 24px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 300;
  filter: none;
  --radius: 10px;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 316px;
  background-image: url("images/richardkoranteng.jpg");
  background-position: 50% 50%;
  background-size: cover;
  --radius: 10px;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-2 .u-text-2 {
    font-style: normal;
  }

  .u-section-2 .u-image-1 {
    min-height: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 484px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 305px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 430px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  filter: none;
  font-weight: 300;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 300;
  margin: 12px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1060px;
  margin: 30px auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 261px;
  --gap: 10px;
}

.u-section-3 .u-list-item-1 {
  --radius: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  --radius: 10px;
  margin: 0 auto 0 30px;
  padding: 15px;
}

.u-section-3 .u-group-1 {
  width: 222px;
  min-height: 104px;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 300;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 10px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 300;
  filter: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  --radius: 10px;
  margin: 0 auto 0 30px;
  padding: 15px;
}

.u-section-3 .u-group-2 {
  width: 222px;
  min-height: 104px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 300;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 10px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 300;
  filter: none;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 10px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  --radius: 10px;
  margin: 0 auto 0 30px;
  padding: 15px;
}

.u-section-3 .u-group-3 {
  width: 222px;
  min-height: 104px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 300;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  font-weight: 300;
  margin: 10px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 30px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 232px;
    grid-gap: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    height: auto;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 472px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 240px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 240px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 240px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-1 {
    width: 445px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-2 {
    width: 445px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-3 {
    width: 445px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 300px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1097px;
  margin: 30px auto 30px -1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 240px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 44px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 300;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 240px;
  background-image: url("images/1597311939041.jpg");
  background-position: 50% 50%;
  background-size: cover;
  --radius: 10px;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-4 .u-image-1 {
    min-height: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 342px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 215px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 240px;
}

.u-section-5 .u-shape-1 {
  height: 190px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1058px;
  margin: -180px auto 30px;
}

.u-section-5 .u-layout-cell-1 {
  --radius: 10px;
  min-height: 171px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-5 .u-text-1 {
  font-weight: 300;
  margin: 1px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  filter: none;
  --radius: 10px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-5 .u-btn-1 {
    padding: 10px 24px 10px 23px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-shape-1 {
    height: 276px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -261px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }
}