.u-section-1 .u-sheet-1 {
  min-height: 409px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  filter: none;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1060px;
  margin: 30px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 180px;
  --gap: 10px;
}

.u-section-1 .u-list-item-1 {
  --radius: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  --radius: 10px;
  margin: 0 auto 0 30px;
  padding: 15px;
}

.u-section-1 .u-group-1 {
  width: 222px;
  min-height: 104px;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 300;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  --radius: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  --radius: 10px;
  margin: 0 auto 0 30px;
  padding: 15px;
}

.u-section-1 .u-group-2 {
  width: 222px;
  min-height: 104px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  --radius: 10px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  --radius: 10px;
  margin: 0 auto 0 30px;
  padding: 15px;
}

.u-section-1 .u-group-3 {
  width: 222px;
  min-height: 104px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 57px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 160px;
    grid-gap: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 171px;
    margin-right: 9px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 22px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 50px;
  }

  .u-section-1 .u-group-2 {
    width: 171px;
    margin-right: 9px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 22px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 50px;
  }

  .u-section-1 .u-group-3 {
    width: 171px;
    margin-right: 9px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 22px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 30px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 34px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 474px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-group-1 {
    width: 219px;
    min-height: 210px;
    margin-top: -137px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 73px;
  }

  .u-section-1 .u-group-2 {
    width: 219px;
    min-height: 210px;
    margin-top: -137px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 73px;
  }

  .u-section-1 .u-group-3 {
    width: 219px;
    min-height: 210px;
    margin-top: -137px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 44px;
  }

  .u-section-1 .u-group-1 {
    width: 383px;
    min-height: 132px;
    margin-top: -108px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 101px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 44px;
  }

  .u-section-1 .u-group-2 {
    width: 383px;
    min-height: 132px;
    margin-top: -108px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 101px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 44px;
  }

  .u-section-1 .u-group-3 {
    width: 383px;
    min-height: 132px;
    margin-top: -108px;
    margin-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 542px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-group-1 {
    width: 171px;
    margin-top: -98px;
    margin-right: 42px;
    margin-bottom: -10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 50px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 34px;
  }

  .u-section-1 .u-group-2 {
    width: 171px;
    margin-top: -98px;
    margin-right: 42px;
    margin-bottom: -10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 50px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 34px;
  }

  .u-section-1 .u-group-3 {
    width: 171px;
    margin-top: -98px;
    margin-right: 42px;
    margin-bottom: -10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 858px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  filter: none;
  font-size: 1.125rem;
  margin: 60px 0 0;
}

.u-section-2 .u-accordion-1 {
  width: 1060px;
  margin: 30px auto 0;
}

.u-section-2 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-1 {
  --radius: 10px;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
  padding: 25px 20px;
}

.u-section-2 .u-icon-1 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 79px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px 20px;
}

.u-section-2 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-2 {
  --radius: 10px;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
  padding: 25px 20px;
}

.u-section-2 .u-icon-2 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 79px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px 20px;
}

.u-section-2 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-3 {
  --radius: 10px;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
  padding: 25px 20px;
}

.u-section-2 .u-icon-3 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 79px;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-4 {
  --radius: 10px;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
  padding: 25px 20px;
}

.u-section-2 .u-icon-4 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 79px;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px 20px;
}

.u-section-2 .u-accordion-item-5 {
  margin: 10px auto 0;
}

.u-section-2 .u-accordion-link-5 {
  --radius: 10px;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
  padding: 25px 20px;
}

.u-section-2 .u-icon-5 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 79px;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px 20px;
}

.u-section-2 .u-accordion-item-6 {
  margin: 10px auto 0;
}

.u-section-2 .u-accordion-link-6 {
  --radius: 10px;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
  padding: 25px 20px;
}

.u-section-2 .u-icon-6 {
  height: 15px;
  width: 15px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 79px;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 20px 20px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1060px;
  margin: 30px auto 8px;
}

.u-section-2 .u-layout-cell-1 {
  --radius: 10px;
  min-height: 133px;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 60px;
}

.u-section-2 .u-text-8 {
  font-weight: 300;
  margin: 1px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  filter: none;
  --radius: 10px;
  background-image: none;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 56px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-2 .u-btn-1 {
    padding: 10px 24px 10px 23px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-accordion-link-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-link-4 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
}