.u-section-1 .u-sheet-1 {
  min-height: 139px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  filter: none;
  font-weight: 300;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 12px auto -231px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 279px;
}

.u-section-2 .u-text-1 {
  width: 803px;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 803px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  width: 803px;
  font-size: 1.125rem;
  font-weight: 300;
  filter: none;
  margin: 20px auto 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 223px;
}

.u-section-3 .u-text-1 {
  width: 803px;
  font-weight: 300;
  margin: 11px auto 0;
}

.u-section-3 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  font-weight: 300;
  filter: none;
  margin: 20px auto 1px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    margin-top: 3px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: -1px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: -4px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 194px;
}

.u-section-4 .u-text-1 {
  width: 803px;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  font-weight: 300;
  filter: none;
  margin: 20px auto -39px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: -15px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
    margin-top: -22px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: 6px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 5px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 165px;
}

.u-section-5 .u-text-1 {
  width: 803px;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  font-weight: 300;
  filter: none;
  margin: 20px auto -18px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
    margin-top: -12px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    margin-top: -61px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    margin-top: -49px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 165px;
}

.u-section-6 .u-text-1 {
  width: 803px;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-6 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  font-weight: 300;
  filter: none;
  margin: 20px auto -18px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: -18px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
    margin-top: -26px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
    margin-top: -79px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
    margin-top: -78px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 193px;
}

.u-section-7 .u-text-1 {
  width: 803px;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-7 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  font-weight: 300;
  filter: none;
  margin: 20px auto 10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-top: -18px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
    margin-top: -40px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
    margin-top: -79px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    margin-top: -70px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 193px;
}

.u-section-8 .u-text-1 {
  width: 803px;
  filter: none;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-8 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  font-weight: 300;
  filter: none;
  margin: 20px auto 10px;
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 235px;
}

.u-section-9 .u-text-1 {
  width: 803px;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  font-weight: 300;
  filter: none;
  margin: 20px auto 0;
}

.u-section-9 .u-text-3 {
  width: 803px;
  font-size: 1.125rem;
  font-weight: 300;
  filter: none;
  margin: 20px auto 2px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-top: -9px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
    margin-top: -6px;
  }

  .u-section-9 .u-text-2 {
    width: 720px;
  }

  .u-section-9 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
    margin-top: -17px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
    margin-top: -28px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-text-3 {
    width: 340px;
  }
}