.u-section-1 .u-sheet-1 {
  min-height: 139px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  filter: none;
  font-weight: 300;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 12px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 281px;
}

.u-section-2 .u-text-1 {
  width: 803px;
  font-weight: 300;
  margin: 60px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
}